# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/**.aux
**/**.log
**/**.pdf
**/**.synctex.gz
**/__latexindent_temp.tex
**/**.fls
**/**.fdb_latexmk
**/**.bbl
**/**.blg

*.npy
